@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit";
}
body {
    margin: 0;
}
.border {
    border-radius: 10px 10px 10px 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.card {
    max-width: 350px;
    background-color: white;
    padding: 15px;
}

.qrBox {
    width: 100%;
    margin-bottom: 15px;
}
img {
    width: 100%;
    height: auto;
}
.content {
    padding: 0 15px 0 15px;
}
.bg {
    background-color: hsl(212, 45%, 89%);
}
.heading1 {
    font-weight: 700;
    font-size: 1.5rem;
}

@media (min-width: 375px) {
    .card {
    }
}
